.Header {
  padding: 30px;
}

.Header-logo {
  margin: 0;
}

.Header-logo-img {
  width: 30px;
}

.Header-github {
  text-align: right;
}

.Header-github a {
  font-size: 14px;
  text-decoration: none;
}

.Header-github-text {
  padding-right: 4px;
}
