.ProductDetail {
  text-align: left;
}

.ProductDetail-thumb {
  display: block;
  width: 100%;
}

.ProductDetail-title {
  margin-bottom: 12px;
}

.ProductDetail-price {
  font-weight: bold;
}

.ProductDetail-thumb-img {
  width: 100%;
}

.ProductDetail-description {
  margin-top: 12px;
  color: #444;
}
