.SearchInput-wrap {
  display: flex;
  padding: 7px;
  border: 2px solid #c2cfd6;
}

.SearchInput-input {
  flex-grow: 1;
  min-width: 60px;
  padding: 7px;
  border: none;
}

.SearchInput-input:focus {
  border: none;
  outline: none;
}

.SearchInput-button {
  padding: 3px 8px 0;
  border: none;
  background: none;
}
