interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.walmartlabs.com/v1/nbp?format=json&apiKey=placeholder&itemId=631796609
  response:
    body: {string: "[{\"itemId\":55592117,\"parentItemId\":55592117,\"name\":\"ONN
        Full-Motion Wall Mount for 10\\\"- 50\\\" TVs with Tilt and Swivel Articulating
        Arm and HDMI Cable (UL Certified)\",\"msrp\":71.96,\"salePrice\":14.99,\"upc\":\"681131134453\",\"categoryPath\":\"Electronics/TV
        & Video/TV Accessories/TV Mounts\",\"shortDescription\":\"The ONN Full-Motion
        Wall Mount with Tilt and Swivel Articulating Arm for 10 to 50-inch TVs allows
        you to easily and securely mount your television to the wall. This Articulating
        Flat-Screen Wall Mount comes with a clear instruction manual and mounting
        hardware to help you properly install the mount. Manufactured from solid,
        durable steel with a resilient coated finish, this wall mount articulates
        out from the wall from two inches to 9.06 inches and supports up to 66 pounds.
        This Articulating Wall Mount swivels left and right up to 180 degrees and
        tilts up five degrees or down 15 degrees, giving you the best view from your
        living space. Includes a bonus six-foot HDMI 2.0 cable.\",\"longDescription\":\"ONN
        Full-Motion Wall Mount for 10&quot;- 50&quot; TVs with Tilt and Swivel Articulating
        Arm and HDMI Cable:&bull; Fits 10&quot; to 50&quot; flat-panel TVs&bull; Includes
        bonus 6' HDMI 2.0 cable&bull; Solid, heavy-gauge steel construction with durable,
        coated finish&bull; Articulates out from wall 2&quot; minimum, 9.06&quot;
        maximum&bull; Flat-panel TV wall mount supports up to 66 lbs&bull; Swiveling
        TV mount can swivel left and right up to 180 degrees&bull; Tilts up 5 degrees
        and down by as much as 15 degrees&bull; VESA Mounting Standard holes: 75mm
        x 75mm, 100mm x 100mm, 100mm x 200mm, 200mm x 200mm&bull; Color: Black&bull;
        Instruction manual and mounting hardware is included with this flat-panel
        TV wall mount&bull; UL Approved\",\"brandName\":\"ONN\",\"thumbnailImage\":\"https://i5.walmartimages.com/asr/723ee7f0-3067-4a1c-bb36-929efc0b81f6_1.ca8ed41d86c66e762f462f99b93ba1f1.jpeg?odnHeight=100&odnWidth=100&odnBg=FFFFFF\",\"mediumImage\":\"https://i5.walmartimages.com/asr/723ee7f0-3067-4a1c-bb36-929efc0b81f6_1.ca8ed41d86c66e762f462f99b93ba1f1.jpeg?odnHeight=180&odnWidth=180&odnBg=FFFFFF\",\"largeImage\":\"https://i5.walmartimages.com/asr/723ee7f0-3067-4a1c-bb36-929efc0b81f6_1.ca8ed41d86c66e762f462f99b93ba1f1.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF\",\"productTrackingUrl\":\"http://linksynergy.walmart.com/fs-bin/click?id=|LSNID|&offerid=223073.7200&type=14&catid=8&subid=0&hid=7200&tmpid=1082&RD_PARM1=https%253A%252F%252Fwww.walmart.com%252Fip%252FONN-Full-Motion-Wall-Mount-for-10-50-TVs-with-Tilt-and-Swivel-Articulating-Arm-and-HDMI-Cable-UL-Certified%252F55592117%253Faffp1%253DxQ0tpG_LdHbmPKQF4S3KbH5hoNl12S5YM6bqxNES_S8%2526affilsrc%253Dapi\",\"ninetySevenCentShipping\":false,\"standardShipRate\":5.99,\"color\":\"WhiteBlack\",\"marketplace\":false,\"shipToStore\":true,\"freeShipToStore\":true,\"modelNumber\":\"ONA16TM011E\",\"productUrl\":\"http://c.affil.walmart.com/t/api01?l=https%3A%2F%2Fwww.walmart.com%2Fip%2FONN-Full-Motion-Wall-Mount-for-10-50-TVs-with-Tilt-and-Swivel-Articulating-Arm-and-HDMI-Cable-UL-Certified%2F55592117%3Faffp1%3DxQ0tpG_LdHbmPKQF4S3KbH5hoNl12S5YM6bqxNES_S8%26affilsrc%3Dapi%26veh%3Daff%26wmlspartner%3Dreadonlyapi\",\"customerRating\":\"4.469\",\"numReviews\":7442,\"customerRatingImage\":\"http://i2.walmartimages.com/i/CustRating/4_5.gif\",\"categoryNode\":\"3944_1060825_133270\",\"rhid\":\"27439\",\"specialBuy\":true,\"bundle\":false,\"clearance\":false,\"preOrder\":false,\"stock\":\"Available\",\"attributes\":{\"caResidentsPropWarningRequired\":\"N\",\"color\":\"White\",\"replenishmentEndDate\":\"2050-12-01
        00:00:00.000000-07:00\"},\"addToCartUrl\":\"http://c.affil.walmart.com/t/api01?l=http%3A%2F%2Faffil.walmart.com%2Fcart%2FaddToCart%3Fitems%3D55592117%7C1%26affp1%3DxQ0tpG_LdHbmPKQF4S3KbH5hoNl12S5YM6bqxNES_S8%26affilsrc%3Dapi%26veh%3Daff%26wmlspartner%3Dreadonlyapi\",\"affiliateAddToCartUrl\":\"http://linksynergy.walmart.com/fs-bin/click?id=|LSNID|&offerid=223073.7200&type=14&catid=8&subid=0&hid=7200&tmpid=1082&RD_PARM1=http%253A%252F%252Faffil.walmart.com%252Fcart%252FaddToCart%253Fitems%253D55592117%257C1%2526affp1%253DxQ0tpG_LdHbmPKQF4S3KbH5hoNl12S5YM6bqxNES_S8%2526affilsrc%253Dapi\",\"freeShippingOver35Dollars\":true,\"giftOptions\":{\"allowGiftWrap\":false,\"allowGiftMessage\":false,\"allowGiftReceipt\":false},\"imageEntities\":[{\"thumbnailImage\":\"https://i5.walmartimages.com/asr/4735d440-74fc-49e5-9bb7-5a5dc716b887_1.d74d5a108dfa6eae6913c68602bb41f5.jpeg?odnHeight=100&odnWidth=100&odnBg=FFFFFF\",\"mediumImage\":\"https://i5.walmartimages.com/asr/4735d440-74fc-49e5-9bb7-5a5dc716b887_1.d74d5a108dfa6eae6913c68602bb41f5.jpeg?odnHeight=180&odnWidth=180&odnBg=FFFFFF\",\"largeImage\":\"https://i5.walmartimages.com/asr/4735d440-74fc-49e5-9bb7-5a5dc716b887_1.d74d5a108dfa6eae6913c68602bb41f5.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF\",\"entityType\":\"SECONDARY\"},{\"thumbnailImage\":\"https://i5.walmartimages.com/asr/ca54a1e8-913a-41fa-bdb1-95d87c213608_1.98b7e43c5347163fb21b86e64026e4d7.jpeg?odnHeight=100&odnWidth=100&odnBg=FFFFFF\",\"mediumImage\":\"https://i5.walmartimages.com/asr/ca54a1e8-913a-41fa-bdb1-95d87c213608_1.98b7e43c5347163fb21b86e64026e4d7.jpeg?odnHeight=180&odnWidth=180&odnBg=FFFFFF\",\"largeImage\":\"https://i5.walmartimages.com/asr/ca54a1e8-913a-41fa-bdb1-95d87c213608_1.98b7e43c5347163fb21b86e64026e4d7.jpeg?odnHeight=450&[...]
